# http://hadoop.apache.org/zookeeper/docs/current/zookeeperAdmin.html

# The number of milliseconds of each tick
tickTime={{ zookeeper_tick_count }}

# The number of ticks that the initial 
# synchronization phase can take
initLimit={{ zookeeper_init_limit }}

# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit={{ zookeeper_sync_limit }}

# the directory where the snapshot is stored.
dataDir={{ zookeeper_data_dir }}

# the port at which the clients will connect
clientPort={{ zookeeper_client_port }}

# specify all zookeeper servers
# The fist port is used by followers to connect to the leader
# The second one is used for leader election

{% for host in groups['cluster'] %}
server.{{ hostvars[host]['zoo_myid'] }}={{ host }}:{{ hostvars[host]['zoo_conn_port'] }}:{{ hostvars[host]['elect_port'] }}
{% endfor %}

